*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: rgb(185, 223, 235);
    height: 80px; 
    .header-content{
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        .header-logo{
            h1{
                text-transform:uppercase;
                letter-spacing: 5px;
            }
        }
        nav{
            ul{
                display: flex;
                align-items: center;
                li{
                    margin-left: 15px;
                    a{
                        color: black;
                        font-size: 20px;
                        letter-spacing: 5px;
                    }
                }
            }
        }
        .mobile-menu{
            display: none;
            button{
                width: 40px;
                height: 40px;
                background-color: rgb(185, 223, 235);
                border:none;

                i{
                    font-size: 30px;
                    color: black;
                }
            }
        }
    }
}
.overlay{
    transition: transform 2s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height:100%;
    background-color: rgba(206, 199, 199, 0.473);
    .header-mobile-menu{
      width: 70%;
      height: 100%;
      background-color: white;
      padding: 30px;
      position: relative;
      nav{
         margin-top: 50px;
         ul{
             display: flex;
             flex-direction: column;
             li{
                 margin-bottom: 20px;
                 height: 40px;
                 width: 70%;
                 background-color:rgb(185, 223, 235) ;
                 border: 1px solid rgb(96, 209, 243);
                 display: flex;
                 align-items: center;
                 padding-left: 10px;
                 a{
                     font-size: 20px;
                     color: black;
 
                 }
             }
         }
      }
      #backbtn{
         position: absolute;
         top: 3%;
         right: 5%;
         width: 40px;
         height: 40px;
         background-color:rgb(185, 223, 235) ;
         border: 1px solid rgb(96, 209, 243);
         i{
             font-size: 18px;
         }
      }
    }
    
}
.deactive{
    transform: translateX(-100%);
}
.active{
    transform: translateX(1);
 }


@media screen and (max-width:900px){
    header{
        .header-content{
            nav{
                display: none;
            }
            .mobile-menu{
                display: block;
            }
        }
    }
    
}